
    <footer>
        <address>
            <strong>MobileHub - Magazinul tău de încredere</strong><br><br>

            <a href="https://www.bing.com/maps/search?FORM=HDRSC6&q=facultatea+de+matematic%C4%83+%C8%99i+informatic%C4%83&cp=44.435425%7E26.099838&lvl=16&style=r"
                target="_blank" rel="noopener">
                Strada Prevederii, Nr. 13,<br>
                Sector 3, București,<br>
                Cod Poștal 010014
            </a><br><br>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.866380608775!2d26.09904437664654!3d44.43588960144572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff462f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1709940000000!5m2!1sro!2sro"
                width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>

            Telefon: <a href="tel:+40726000123">+40 726 010 143</a><br>

            E-mail: <a href="mailto:office@mobilehub.ro">office@mobilehub.ro</a><br><br>

            Contact rapid:
            <a href="https://wa.me/40726000123" target="_blank" rel="noopener">
                <span class="fab fa-whatsapp"></span> Chat pe WhatsApp
            </a>
        </address>
        <hr>
        <small>
            &copy; 2025 MobileHub. Toate drepturile rezervate.
            Pagina a fost creată la data de:
            <time datetime="2026-03-08">1 iunie 2025</time>
        </small>
    </footer>