<header>
        <h1> MobileHub </h1>
        <img src="Resurse/Imagini/sunriseforever-smartphone-4103051_1920.jpg" height=50 width=50 alt="Sigla" />
        <nav>
            <ul class="meniu">
                <li>
                    <div id="acasa">Acasa</div>
                    <ul>
                        <li><a href="#welcome">Bine ati venit</a></li>
                        <li><a href="#promotii">Promotii</a></li>
                        <li><a href="#produse">Produse</a></li>
                        <li><a href="#orar">Orar</a></li>
                        <li><a href="#anunturi">Anunturi</a></li>
                        <li><a href="#intrebari">Intrebari</a></li>
                        <li><a href="#video-uri">Videoclipuri utile</a></li>
                    </ul>


                </li>
                <li>
                    <div>Magazin</div>
                    <ul>
                        <li><a href="Magazin.html#Toate">Toate Telefoanele</a></li>
                        <li><a href="Magazin.html#Samsung">Samsung</a></li>
                        <li><a href="Magazin.html#Apple">Apple</a></li>
                        <li><a href="Magazin.html#Motorola">Motorola</a></li>
                        <li><a href="Magazin.html#Oppo">Oppo</a></li>
                    </ul>
                </li>
                <li><a href="Cos.html">Cos de cumparaturi</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>